node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.*
!.env.example
.dev.vars
.dev.vars.*
.alchemy
.nitro
.tanstack
.wrangler
.output
.vinxi
supabase/.temp/
__unconfig*
todos.json
src/routeTree.gen.ts
.bun-tmp
wrangler.toml
wrangler.json
wrangler.jsonc
docs